#content {
  border: 2px solid blue;
}

.info-card {
  background-color: rgb(90, 90, 226);
  border: 2px solid lightblue;
  width: 12em;
  height: 18em;
}

#card_parent {
  display: flex;
  justify-content: space-around;
  width: 75%;
  border: 2px solid green;

  margin: auto;
}



